<p id="notice"><%= notice %></p>

<h1>F1s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @f1s.each do |f1| %>
      <tr>
        <td><%= f1.Name %></td>
        <td><%= f1.Email %></td>
        <td><%= f1.phone %></td>
        <td><%= link_to 'Show', f1 %></td>
        <td><%= link_to 'Edit', edit_f1_path(f1) %></td>
        <td><%= link_to 'Destroy', f1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New F1', new_f1_path %>
